body {
    margin: auto;
    max-width: 800px;
  }

  .apple {
    background-image: url("../images/apple-pie.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 450px;
    margin-top: 0px;
  }

  .header-text {
    line-height: 450px;
    vertical-align: middle;
    color: #ffffff;
    margin: 0;
    text-align: center;


  } 
  
  /*.title {
    position: absolute;
    left: 36%;
    top: 32%;
    font-size: 70px;
    color: white;
    font-weight: 400;
    letter-spacing: 6px;
   }*/
  
  .description {
    font-size: 20px;
    font-weight: 400;
    color: #5B5B5B;
    text-align: center;
    font-style: italic;
  }
  
  .ingredients {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #5B5B5B; 
  }
  
   #cooking-info {
    height: 80px;
    margin-left: 27%;
    display: block;
    margin-top: 40px;
  }
  
  .directions {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #5B5B5B;
  }
  
  .list-directions {
    color: #606060;
    font-weight: 300;
    margin-bottom: 80px;
  }